<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9580bf">  <td>23/07/20 17:11:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OnlineBanking.getLogin()[pri:0, instance:com.generic.OnlineBanking@6ad82709]">getLogin</td> 
  <td>main@812446698</td>   <td></td> </tr>
<tr bgcolor="9580bf">  <td>23/07/20 17:11:56</td>   <td>-2053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OnlineBanking.getLogin()[pri:0, instance:com.regression.SmokeTestForOnlineBanking@61322f9d]">getLogin</td> 
  <td>main@812446698</td>   <td></td> </tr>
<tr bgcolor="bb67ed">  <td>23/07/20 17:11:54</td>   <td>-4419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:com.regression.CucumberRunner@fbd1f6]">runScenario</td> 
  <td>main@812446698</td>   <td></td> </tr>
<tr bgcolor="bb67ed">  <td>23/07/20 17:11:54</td>   <td>-4419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(io.cucumber.testng.PickleWrapper,io.cucumber.testng.FeatureWrapper)[pri:0, instance:com.regression.CucumberRunner@fbd1f6]">runScenario</td> 
  <td>main@812446698</td>   <td></td> </tr>
<tr bgcolor="bb67ed">  <td>23/07/20 17:11:51</td>   <td>-7434</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass(org.testng.ITestContext)[pri:0, instance:com.regression.CucumberRunner@fbd1f6]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@812446698</td>   <td></td> </tr>
<tr bgcolor="bb67ed">  <td>23/07/20 17:11:56</td>   <td>-2299</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.regression.CucumberRunner@fbd1f6]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@812446698</td>   <td></td> </tr>
</table>
